html,
body {
  scroll-behavior: smooth;
}

a {
  text-transform: uppercase;
}

.fixed {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  transform: rotate(-90deg);
  background-color: red;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  transition: 0.4s;
  cursor: pointer;
}
.fixed:hover {
  bottom: 25px;
}

.top {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/project2/slider.png);
  background-size: cover;
  background-position: 30% 70%;
}
.top > * {
  width: 100%;
}
.top > header {
  background-color: rgba(0, 0, 0, 0.459);
  position: fixed;
  z-index: 999;
  top: 0;
  flex-wrap: nowrap;
  height: 10%;
  padding: 0 10%;
}
.top > header > * {
  height: 100%;
  padding: 0 24px;
}
.top > header > figure {
  width: 15%;
  justify-content: center;
  align-items: center;
}
.top > header > figure > img {
  height: 60%;
}
.top > header > nav {
  width: 80%;
  padding-right: 0;
}
.top > header > nav > ul {
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  justify-content: end;
  align-items: center;
}
.top > header > nav > ul > li {
  height: 100%;
  margin: 0 15px;
  display: flex;
  align-items: end;
  padding-bottom: 15px;
}
.top > header > nav > ul > li > a {
  color: white;
  font-size: 14px;
  transition: 0.4s;
}
.top > header > nav > ul > li > a:hover {
  color: red;
}
.top > header > div {
  width: 5%;
  justify-content: end;
  align-items: end;
}
.top > header > div > a {
  color: white;
}
.top > header > div > a > span {
  transition: 0.4s;
  font-size: 40px;
}
.top > header > div > a > span:hover {
  color: grey;
}
.top > div {
  position: absolute;
  top: 20%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.147);
  height: 60%;
  justify-content: center;
  align-items: center;
}
.top > div:nth-of-type(2) {
  justify-content: start;
  padding-left: 10%;
}
.top > div:nth-of-type(2) > article > * {
  justify-content: start;
}
.top > div > article {
  position: relative;
  z-index: 999;
  width: 50%;
  min-height: 100px;
}
.top > div > article > * {
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.top > div > article > *:not(h1) {
  color: white;
}
.top > div > article > h1 {
  margin: 15px 0;
  color: red;
  font-size: 80px;
  transition: 2s;
}
.top > div > article > h2 {
  font-size: 40px;
  transition: 1s;
}
.top > div > article > p {
  font-size: 20px;
  margin-bottom: 30px;
  transition: 3s;
}
.top > div > article > div {
  position: absolute;
  bottom: -40%;
  transition: 1s;
}
.top > div > article > div > a {
  height: 50px;
  width: 200px;
  background-color: red;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: 0.4s;
}
.top > div > article > div > a:hover {
  background-color: rgb(26, 26, 26);
}
.top:hover > div:nth-of-type(1) > article > * {
  opacity: 1;
}
.top:hover > div:nth-of-type(1) > article > div {
  bottom: -20%;
}

.date {
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 70px;
}
.date > div {
  flex-wrap: nowrap;
  height: 100%;
  width: 17%;
  margin: 0 10px;
}
.date > div:nth-last-of-type(1) > span {
  transform: rotate(-60deg) scaleY(150%) translateY(-10px);
}
.date > div > span {
  font-size: 50px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  transition: 1s;
  transform: scaleY(150%) translateY(-5px);
}
.date > div > span:hover {
  color: black;
}
.date > div > article {
  width: 70%;
  padding: 10px 0;
}
.date > div > article > * {
  text-transform: uppercase;
  width: 100%;
  color: black;
}
.date > div > article > h3 {
  font-size: 20px;
}
.date > div > article > p {
  font-size: 14px;
}

.counter {
  width: 100%;
  height: 50vh;
  background-image: url(../img/project2/bg-img.png);
  background-size: cover;
}
.counter > div {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.442);
}
.counter > div > h3 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 26px;
}
.counter > div > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background-color: #F44336;
  margin: 20px;
  padding: 20px;
}
.counter > div > div > * {
  width: 100%;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.counter > div > div > h3 {
  font-size: 60px;
}

.about {
  width: 100%;
  height: 70vh;
  margin: 100px 0;
  justify-content: center;
  align-items: center;
}
.about > * {
  padding: 0 200px;
}
.about > article > h2 {
  color: black;
  font-size: 36px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 5px;
}
.about > article > div {
  display: flex;
  height: 2px;
  width: 2%;
  background-color: red;
  transition: 1s;
}
.about > article:hover > div {
  width: 30%;
}
.about > article > p {
  color: #838383;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  margin-top: 30px;
}
.about > article > p:nth-of-type(2) {
  padding-left: 10px;
}
.about > div {
  justify-content: center;
  align-items: center;
}
.about > div > div {
  transition: 1s;
  padding: 10px;
  overflow: hidden;
  background-color: #f0f2f6;
  width: 20%;
  height: 300px;
  margin: 20px;
}
.about > div > div > * {
  display: flex;
  width: 100%;
  margin: 10px 0;
}
.about > div > div > *:not(p) {
  text-transform: capitalize;
}
.about > div > div > *:not(span) {
  padding-left: 10px;
}
.about > div > div > span {
  font-size: 100px;
  color: #f50136;
  transform: translateY(-30%) scaleY(150%);
  font-weight: 300;
}
.about > div > div > h3 {
  font-size: 25px;
  color: black;
  font-weight: bolder;
  margin-top: 0;
  transform: translateY(-30%);
}
.about > div > div > p {
  font-size: 15px;
  color: #838383;
}
.about > div > div > a {
  height: 20%;
  align-items: center;
  color: #f50136;
  font-weight: bolder;
}
.about > div > div:hover {
  background-color: #f50136;
}
.about > div > div:hover > * {
  color: white;
}

.speakers {
  width: 100%;
  height: 130vh;
}
.speakers > *:not(span) {
  width: 100%;
}
.speakers > span {
  display: flex;
  height: 2px;
  width: 2%;
  background-color: red;
  transition: 1s;
  margin-left: 13.5%;
}
.speakers:hover > span {
  width: 16%;
}
.speakers > h2 {
  padding: 0 200px;
  text-transform: uppercase;
  font-size: 36px;
  color: black;
  margin-bottom: 60px;
}
.speakers > div {
  height: 90%;
}
.speakers > div > figure {
  position: relative;
  overflow: hidden;
  width: 25%;
  height: 50%;
}
.speakers > div > figure > * {
  position: absolute;
  left: 0;
  transition: 1s;
}
.speakers > div > figure:hover > img {
  width: 120%;
  height: 120%;
  bottom: -10%;
  left: -10%;
}
.speakers > div > figure:hover > figcaption {
  background-color: #f50136;
}
.speakers > div > figure:hover > figcaption > * {
  color: white;
}
.speakers > div > figure > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
}
.speakers > div > figure > figcaption {
  width: 50%;
  height: 15%;
  bottom: 25px;
  padding-bottom: 20px;
  background-color: #18181c;
}
.speakers > div > figure > figcaption > * {
  text-align: center;
  width: 100%;
  height: 50%;
  padding: 10px 0;
  text-transform: capitalize;
}
.speakers > div > figure > figcaption > h3 {
  color: #f50136;
}
.speakers > div > figure > figcaption > h4 {
  color: rgb(244, 239, 239);
  font-size: 14px;
  font-weight: 200;
}

.pricing {
  width: 100%;
  height: 100vh;
  margin-top: 150px;
}
.pricing > *:not(span) {
  width: 100%;
}
.pricing > span {
  display: flex;
  height: 2px;
  width: 2%;
  background-color: red;
  transition: 1s;
  margin-left: 13.5%;
}
.pricing:hover > span {
  width: 16%;
}
.pricing > h2 {
  padding: 0 200px;
  text-transform: uppercase;
  font-size: 36px;
  color: black;
}
.pricing > div {
  height: 90%;
  padding: 0 150px;
  justify-content: center;
  align-items: center;
}
.pricing > div > div {
  height: 75%;
  width: 30%;
  margin: 15px;
  background-color: #f0f2f6;
  border: 5px solid rgba(0, 0, 0, 0.03);
  justify-content: center;
  align-items: center;
  padding: 70px 50px;
  transition: 0.4s;
}
.pricing > div > div > * {
  text-align: center;
  text-transform: capitalize;
}
.pricing > div > div > *:not(span, h3:nth-of-type(2), h4, a) {
  width: 100%;
}
.pricing > div > div:nth-of-type(1) {
  background-color: white;
  position: relative;
}
.pricing > div > div > span {
  display: flex;
  width: 40%;
  height: 8%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f50136;
  text-transform: uppercase;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bolder;
}
.pricing > div > div > h3:nth-of-type(1) {
  font-size: 26px;
  font-weight: bold;
  transform: translateY(20%);
}
.pricing > div > div > h3:nth-of-type(2) {
  font-size: 50px;
}
.pricing > div > div > h4,
.pricing > div > div h5 {
  color: #838383;
  font-weight: 300;
  font-size: 16px;
}
.pricing > div > div > h4 {
  font-size: 24px;
  transform: translateY(-40%);
  margin-left: 5px;
}
.pricing > div > div > a {
  display: flex;
  width: 55%;
  height: 12%;
  background-color: #f50136;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: bold;
  transition: 0.4s;
}
.pricing > div > div > a:hover {
  background-color: #18181c;
}
.pricing > div > div:hover:not(.pricing > div > div:nth-of-type(1)) {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.03);
}

.partners {
  width: 100%;
  height: 60vh;
  background-color: #f0f2f6;
  padding: 5% 0;
}
.partners > *:not(span) {
  width: 100%;
}
.partners > span {
  display: flex;
  height: 2px;
  width: 2%;
  background-color: red;
  transition: 1s;
  margin-left: 13.5%;
}
.partners:hover > span {
  width: 16%;
}
.partners > h2 {
  padding: 0 200px;
  text-transform: uppercase;
  font-size: 36px;
  color: black;
}
.partners > div {
  height: 90%;
  justify-content: space-around;
  align-items: center;
  padding: 0 10%;
}
.partners > div > figure {
  position: relative;
  width: 130px;
  height: 130px;
}
.partners > div > figure:hover > figcaption {
  opacity: 0;
}
.partners > div > figure > * {
  position: absolute;
}
.partners > div > figure > img {
  display: flex;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.partners > div > figure > figcaption {
  transition: 0.4s;
  opacity: 1;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  background-color: rgba(240, 242, 246, 0.462745098);
  border-radius: 50%;
}

.tickets {
  width: 100%;
  height: 50vh;
  justify-content: center;
  background-image: url(../img/project2/tickets.png);
  background-size: cover;
  background-position: 50% 80%;
}
.tickets > * {
  height: 90%;
  margin: 30px;
}
.tickets > article {
  width: 70%;
  padding: 100px;
}
.tickets > article > *:not(span) {
  width: 100%;
  color: white;
}
.tickets > article > span {
  display: flex;
  height: 2px;
  width: 2%;
  background-color: red;
  transition: 1s;
}
.tickets > article:hover > span {
  width: 16%;
}
.tickets > article > h2 {
  text-transform: uppercase;
  font-size: 36px;
}
.tickets > article > p {
  height: 90%;
  font-size: 16px;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
}
.tickets > div {
  width: 10%;
  align-items: end;
  padding-bottom: 5%;
  justify-content: center;
}
.tickets > div > a {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #f50136;
  border-radius: 30px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  transition: 0.4s;
}
.tickets > div > a:hover {
  background-color: #18181c;
}

.foot {
  width: 100%;
  height: 80vh;
  background-color: rgb(9, 9, 30);
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}
.foot > div {
  height: 90%;
  width: 30%;
  margin: 20px;
  padding: 30px 0;
}
.foot > div > * {
  width: 100%;
}
.foot > div:nth-of-type(1) > figure {
  justify-content: start;
  align-items: center;
}
.foot > div:nth-of-type(1) > figure > img {
  height: 50%;
  width: 30%;
}
.foot > div:nth-of-type(1) > p {
  padding-top: 10px;
  font-size: 16px;
  color: #838383;
  line-height: 25px;
  font-weight: 400;
}
.foot > div:nth-of-type(1) > div {
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  transform: translateY(-30%);
}
.foot > div:nth-of-type(1) > div > a {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid #f50136;
  margin: 0 5px;
  transition: 0.4s;
  border-radius: 50%;
}
.foot > div:nth-of-type(1) > div > a > span {
  color: #f50136;
}
.foot > div:nth-of-type(1) > div > a:hover {
  background-color: #f50136;
}
.foot > div:nth-of-type(1) > div > a:hover > span {
  color: white;
}
.foot > div:nth-of-type(2), .foot > div:nth-of-type(3) {
  padding-top: 5%;
}
.foot > div:nth-of-type(2) > *:not(span), .foot > div:nth-of-type(3) > *:not(span) {
  width: 100%;
}
.foot > div:nth-of-type(2) > span, .foot > div:nth-of-type(3) > span {
  display: flex;
  height: 2px;
  width: 10%;
  background-color: red;
}
.foot > div:nth-of-type(2) > h4, .foot > div:nth-of-type(3) > h4 {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.foot > div:nth-of-type(2) > div {
  margin: 35px 0;
  align-items: center;
  justify-content: start;
  padding-left: 5px;
}
.foot > div:nth-of-type(2) > div > figure {
  width: 30%;
  height: 50%;
  margin: 3px;
  cursor: pointer;
}
.foot > div:nth-of-type(2) > div > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.foot > div:nth-of-type(3) {
  padding-bottom: 10%;
  padding-top: 5%;
}
.foot > div:nth-of-type(3) > input {
  margin-top: 35px;
  margin-bottom: 20px;
  background-color: #1f1039;
  padding: 10px;
  height: 50px;
  border: 2px solid #1f1039;
}
.foot > div:nth-of-type(3) > a {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #f50136;
  border-radius: 30px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  transition: 0.4s;
}
.foot > div:nth-of-type(3) > a:hover {
  background-color: #18181c;
}/*# sourceMappingURL=master2.css.map */